<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" noConsoleNoAnsi="false"
                pattern="%style{[%d{HH:mm:ss}]}{cyan} %style{[%t]}{green} %highlight{%-5level}{FATAL=red bold, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=white, TRACE=bright_black} %style{[LunaLauncher]}{magenta} : %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
